
.eyes{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: auto;
}


/* RIGHT EYE */

.eye-r{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 95% 0 65% 0;
    transform: translate(80%) rotate(20deg);
    position: absolute;
    overflow: hidden;
    
}

.ball-r{
    width: 95px;
    height: 95px;
    background-color: rgb(64, 163, 243);
    position: absolute;
    top: 54%;
    left: 54%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.sball-r{
    width: 12px;
    height: 89px;
    background-color: rgb(32, 32, 32);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(340deg);
    border-radius: 50%;
}

.ceye-r{
    width: 300px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 999;
}
.ceye-r span{
    width: 100%;
    height: 15%;
    display: block;
    background-color: #872efa;
    border-radius: 0 0 60% 60%;
    transition: .35s;
}
.eye-r:hover > .ceye-r span{
    height: 100%;
}

/* LEFT EYE */

.eye-l{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 95% 0 65% 0;
    transform: translate(-80%)rotate(70deg);
    position: absolute;
    overflow: hidden;
}

.ball-l{
    width: 95px;
    height: 95px;
    background-color: rgb(64, 163, 243);
    position: absolute;
    top: 54%;
    left: 54%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.sball-l{
    width: 12px;
    height: 89px;
    background-color: rgb(32, 32, 32);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(290deg);
    border-radius: 50%;
}

.ceye-l{
    width: 300px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 999;
}
.ceye-l span{
    width: 100%;
    height: 15%;
    display: block;
    background-color: #872efa;
    border-radius: 0 0 60% 60%;
    transition: .35s;
}
.eye-l:hover > .ceye-l span{
    height: 100%;
}