*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --backgrounnd: #9E54FF;
  --skin: #FFCD4E;
  --white: #FFFEFA;
  --black: #000000;
  --grey: #BABABA;
  --rose: #FF9AC9;
}


body{
  height: 100vh;
  min-height: 600px;
  background: var(--backgrounnd);
  display: flex;
  align-items: center;
  justify-content: center;
}

.head{
  width: 300px;
  height: 225px;
  background: var(--skin);
  border-radius: 50%;
  position: relative;
}
.parpado-left{
  width: 50px;
  height: 50px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  transition: all .2s ease-in-out;
}
.eye-left{
  width: 50px;
  height: 50px;
  top: 70px;
  left: 70px;
  background: var(--white);
  border-radius: 50%;
  overflow: hidden;
}
.parpado-left:hover{
  height: 40px;
}
.pupil-left{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 85%;
  height: 85%;
  background: var(--black);
  border-radius: 50%;
}

.iris-left{
  width: 8px;
  height:42px;
  position: absolute;
  left: 17px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--white);
}
.eye-right{
  width: 50px;
  height: 50px;
  top: 70px;
  right: 70px;
  background: var(--white);
  position: absolute;
  border-radius: 50%;
}
.pupil-right{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 85%;
  height: 85%;
  background: var(--black);
  border-radius: 50%;
}
.iris-right{
  width: 8px;
  height:42px;
  position: absolute;
  right: 17px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--white);
}